/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;line-height:15px}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;background-color:transparent}
a:hover,a:active,a:focus{border:0;text-decoration:none;outline:0}
.blind{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;line-height:0;font-size:0}

body{margin:5px}
table th, table td {text-align:center}
h1{font-size:18px}
h1 > span {font-size:12px;padding-left:20px;font-weight:normal}
h2 {margin-bottom:10px;color:#999;font-size:15px;font-weight:normal}
.filter-area {margin:20px 5px;padding:0 10px;border-left:3px solid #999}
.filter-area .form-group {margin-bottom:10px}
.filter-area .form-group select {width:150px}
table .text-left{text-align:left !important}
table .badge{display: inline-block;padding: .25em .4em;font-size: 90%;font-weight: normal;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25rem;background-color: #818a91;}
table br + .badge {margin-top:1px;}
table i.xi-info-o{font-size:14px;vertical-align: top}
.skill-layer {z-index:1000;display:none;position:absolute;top:0;left:0;border:1px solid #c2c2c2;background:#fff;padding:10px}
.skill-layer.on{display:block}
.skill-layer ul li {line-height:22px;}
.comment-box{display:none}
.comment-box.on{display:block}
.btn{background:none;border:0;cursor:pointer}
.btn_comment{margin-top:20px;font-size:15px}
.btn_comment .xi-angle-down{display:inline-block}
.btn_comment .xi-angle-up{display:none;}
.btn_comment.on .xi-angle-down{display:none;}
.btn_comment.on .xi-angle-up{display:inline-block;}
table.dataTable span.highlight {
  background-color: #FFFF88;
}
