/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0;line-height:15px}
body,input,textarea,select,button,table{font-family:NanumBareunGothicUltraLight,sans-serif,'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none;background-color:transparent}
button{margin:0;font:inherit;color:inherit;overflow:visible;text-transform:none;-webkit-appearance:button;cursor:pointer}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
.blind{visibility:hidden;overflow:hidden;position:absolute;width:0;height:0;line-height:0;font-size:0}

body{margin:5px}
table th, table td {text-align:center}
h1{font-size:18px}
h1 > span {font-size:12px;padding-left:20px;font-weight:normal}
h2 {margin-bottom:10px;color:#999;font-size:15px;font-weight:normal}
.filter-area {margin:20px 5px;padding:0 10px;border-left:3px solid #999}
.filter-area .form-group {margin-bottom:10px}
.filter-area .form-group select {width:150px}
.text-left{text-align:left !important}
